<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - La Mia Pizzeria - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</footer>
